.contenitore{
    height: 100px;
    width: 70%;
    background-color: #4ea0ff;
    background-image: url(img/pattern.png);
    background-size: 40%;
}

.titolo{
    width: 800px;
}

.logo{
    height: 40px;
    margin-top: 50px;
}

span{
    color: grey;
}

table{
    background-color: blue;
    width: 100%;
}

tr{
    background-color: aqua; 
}

p{
    width: 1000px;
}

td{
    padding: 10px;
}