.contenitore{
    height: 100px;
    width: 70%;
    background-color: #4ea0ff;
    background-image: url(img/pattern.png);
    background-size: 40%;
}

.titolo{
    width: 800px;
}

.logo{
    height: 40px;
    margin-top: 50px;
}

span{
    color: grey;
}

h4{
    color: grey;
}

p{
    width: 1000px;
}

.photo{
    color: black;
}

table{
    width: 70%;
    border-collapse: collapse;
}

th{
    background-color: #20a9e5;
    color: white;
    text-align: left;
}

td{
    width: 5px;
}

.top{
    background-color: #b1e4f2;
}


.Lorem{
    background-image: url(img/monitor.jpg);
    height: 200px;
    width: 20%;
}





